                                                            Numbers

In [47]:
print(3)         # print int number and new line
print(1.9)       # print float number and new line
c=complex(10,20) # convert to (10 + 20j) and sive in c
print(c)         # print complex number and new line

3
1.9
(10+20j)

In [48]:
print(3,1.9,complex(10,20)) #Print with a space without a newline

3 1.9 (10+20j)

In [49]:
n2=1
n1=1
print(n1+1+n2+1)

4

                                                             Strings

In [50]:
str="Computer Science Department"
print(str)

Computer Science Department

In [51]:
    #01234567 9    15 17       26           <---- index
str='Computer Science Department'
print(str[17])

D

In [52]:
str='Computer Science Department'
print(len(str))

27

In [53]:
    #01234567 9    15 17       26
str='Computer Science Department'
print(str[len(str)-1])

t

                                                             String Slicing

In [54]:
#    012345
str="python"
#   (654321)-

print(str[1:3])     #str[start:end]

yt

In [55]:
#    012345
str="python"
#   (654321)-

print(str[1:-1])     #str[start:end]

ytho

In [56]:
#    012345
str="python"
#   (654321)-

print(str[1:])     #str[start:end]

ython

In [57]:
#    012345
str="python"
#   (654321)-

print(str[:-1])     #str[start:end]

pytho

In [58]:
#    012345
str="python"
#   (654321)-

print(str[::2])     #str[start:end:step]

pto

In [59]:
str="python"
print(str[::-1])

nohtyp

                                                            Arithmetic Operators

In [60]:
#add
x=3
y=1
z=x+y
print(z)

4

In [61]:
#sub
x=1
y=1
z=x-y
print(z)

0

In [62]:
#division
x=5
y=2
z=x/y 
# z=x//y
print(z)

2.5

In [63]:
#Multiply
x=5
y=2
print(x*y)

10

In [64]:
#exponent
x=2
print(x**3)

8

In [65]:
#modulo
x=3
y=3
print(x%y)

0

In [66]:
x=4
x+=1   #x=x+1
print(x)

5