                                        tuple

In [111]:
# we can’t add or delete elements from tuples.
t=(1,"str",4.44,True)
print(t)        #print all 
print(len(t))   #length tuple
print(t[0])     #Indexing
print(t[1:])    #Slicing

(1, 'str', 4.44, True)
4
1
('str', 4.44, True)

In [112]:
# 0 1     2    3
t=(1,"str",4.44,True)
print(type(t[3]))

<class 'bool'>

In [113]:
# 0 1     2    3
t=(1,"str",4.44,True)
for e in t:
    print(e)

1
str
4.44
True

In [114]:
t=(1,"str",4.44,True,2,2,2)
print(t.count(2)) # find duplicate element

3

tuples don’t have methods such as append(), remove(),insert() and pop()

You can convert the tuple into a list, change the list, and convert 
the list back into a tuple.

In [115]:
t=(1,"str",4.44,True)
l=list(t)
l.append(11)
t=tuple(l)
print(t)

(1, 'str', 4.44, True, 11)

In [116]:
t=(1,2,3,4)
m1=max(t) #return max number and sive in m1 
m2=min(t) #return min number and sive in m2
print("max num is ",m1)
print("min num is ",m2)

max num is  4
min num is  1

In [117]:
# returns the total sum of the items in a tuple.
# This can only be used with numerical values. 
t=(1,2,3,4)
s=sum(t)
print("sum of the items in a tuple = ",s)

sum of the items in a tuple =  10

In [118]:
# sorted(tupleNmae)
# returns a tuple with the elements in a sorted order
t=(1,22,12,4)
s=sorted(t)
print("after sorted   ",s)

after sorted    [1, 4, 12, 22]

                                            Sets

In [119]:
my_set={1,"str",False,4,3,4,4,4}
# print(my_set)
print("length my_set = ",len(my_set))

length my_set =  5

In [120]:
s=set()                  # constructor to make a set.
s.add(1)                 # used to add a single item.
print("set after add",s)

s.update([2,3,"SCD"])    #used to add multiple items. 
print("set after update ",s)

set after add {1}
set after update  {1, 2, 3, 'SCD'}

In [121]:
# Removes all elements from the set.
# setNmae.clear()
s={1,2,3,4}
print("set after clear ",s)

set after clear  {1, 2, 3, 4}

In [122]:
#Removes the element from the set.
# setNmae.remove(name_element) or discard
s={1,2,3,4}
s.remove(2)
print("Removes the 2 from the set",s)

Removes the 2 from the set {1, 3, 4}

In [123]:
#  Returns and removes a random element from the set.
# setName.pop()
s={1,2,4}  
s.pop()
print(s)

{2, 4}

In [124]:
# keyword will delete the set completely
s={1,2,4}  
del(s)
print(s)

NameError: name 's' is not defined